#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.btnGroup {
  padding: 2em;
  position: fixed;
}

/* Carta para Pokemon */

.card {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #dbdbdb;
  color: #838383;
  display: flex;
  align-items: center;
  border: 10px solid #dbdbdb;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-back {
  background-color: #dbdbdb;
  color: black;
  
  align-items: center;
  border: 10px solid #dbdbdb;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}

.pokeimg {

  position: absolute;
  width: 100px;
  height: 100px;

}

.pokename {
  text-transform: uppercase;
  letter-spacing: 10px
}

.pp {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pokemon-tipos {
  display: flex;
  gap: .5rem;
  font-size: .75rem;
  font-weight: 500;
  flex-wrap: wrap;
  justify-content: center;
}

.tipo {
  padding: .25rem .5rem;
  border-radius: 100vmax;
}


.grass {
  text-transform: uppercase;
  background-color: green;
  color: white;
  border: 0;
  border-radius: 100vmax;;
}

.normal {
  text-transform: uppercase;
  background-color: rgb(193, 193, 193);
  border: 0;
  border-radius: 100vmax;;
}

.fire {
  text-transform: uppercase;
  background-color: rgb(197, 0, 0);
  color: white;
  border: 0;
  border-radius: 100vmax;;
}

.water {
  text-transform: uppercase;
  background-color: rgb(0, 119, 158);
  border: 0;
  border-radius: 100vmax;;
}

.poison {
  text-transform: uppercase;
  background-color: rgb(108, 2, 108);
  color: white;
  border: 0;
  border-radius: 100vmax;;
}

.rock {
  text-transform: uppercase;
  background-color: rgb(118, 83, 83);
  border: 0;
  border-radius: 100vmax;;
}

.ground {
  text-transform: uppercase;
  background-color: rgb(110, 93, 61);
  border: 0;
  border-radius: 100vmax;;
}

.flying {
  text-transform: uppercase;
  background-color: rgb(96, 96, 236);
  border: 0;
  border-radius: 100vmax;;
}

.ghost {
  text-transform: uppercase;
  background-color: rgb(65, 39, 65);
  color: white;
  border: 0;
  border-radius: 100vmax;;
}

.dark {
  text-transform: uppercase;
  background-color: rgb(42, 36, 36);
  color: white;
  border: 0;
  border-radius: 100vmax;;
}

.psychic {
  text-transform: uppercase;
  background-color: rgb(165, 29, 122);
  border: 0;
  border-radius: 100vmax;;
}

.electric {
  text-transform: uppercase;
  background-color: yellow;
  border: 0;
  border-radius: 100vmax;;
}

.ice {
  text-transform: uppercase;
  background-color: lightblue;
  border: 0;
  border-radius: 100vmax;;
}

.steel {
  text-transform: uppercase;
  background-color: rgb(140, 137, 137);
  border: 0;
  border-radius: 100vmax;;
}

.dragon {
  text-transform: uppercase;
  background-color: #7038F8;
  color: white;
  border: 0;
  border-radius: 100vmax;;
}

.fighting {
  text-transform: uppercase;
  background-color: #C03028;
  border: 0;
  border-radius: 100vmax;;
}

.fairy {
  text-transform: uppercase;
  background-color: #F0B6BC;
  border: 0;
  border-radius: 100vmax;;
}

.bug {
  text-transform: uppercase;
  background-color: #A8B820;
  border: 0;
  border-radius: 100vmax;;
}